{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block page_css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">

<!-- Plugins css Ends-->
{% endblock %}
{% block page_content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  
  <!-- Container-fluid Ends-->
</div>
{% endblock page_content %}
{% block page_js %}
<!-- Plugins JS start-->

<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<!--script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></!--script-->

<!-- Plugins JS Ends-->
{% endblock %}