{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% block page_css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">

<style>
  div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
}
body.dark-only .page-wrapper .page-body-wrapper .page-body .card:not(.email-body) 
.dataTables_wrapper .dataTables_filter input[type="search"] {
  width: 100%
}

select#inventory-location {
  margin-left: 10px;
  width: 165px;
  border-color: #e1dede;
}
</style>
<!-- Plugins css Ends-->
{% endblock %}
{% block page_content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                  Inventory Location
                  <select name="location" id="inventory-location">
                    {% for location in locations %}
                      <option value={{location.id}} {% if location.name == 'default' %} selected {% endif %} >{{ location.name }}</option>                    
                    {% endfor %}
                    <option>Supplier Warehouse</option>
                  </select>
                </div>
                <div>
                  <a href="{% url 'inventory:new-product' %}" class="btn btn-primary">New Product</a>
                  <button class="btn btn-primary">Import from csv</button>
                </div>
            </div>
            
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="display" id="ajax-datatable">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>SKU</th>
                    <th>Product</th>                    
                    <th>Unit</th>
                    <th>Retail Price</th>
                    <th>Purchased Price</th>
                    <th>Category</th>
                    <th>Stock Level</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                
     
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- DOM / jQuery  Ends-->
  
    </div>
  </div>
  
  <!-- Container-fluid Ends-->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Stock Level update</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
        <div class="modal-body">
            <input type="hidden" id="productid" name="productid">
            <div class="form-group">
              <label for="sku" class="col-form-label">Product:</label>
              <input type="text" class="form-control" id="product"  name="product" readonly="readonly">
            </div>
            <div class="form-group">
              <label for="quantity" class="col-form-label">Quantity:</label>
              <input type="number" class="form-control" id="quantity" name="quantity">
            </div>            
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="submit">Update</button>
        </div>
      </form>
      </div>
    </div>
  </div>

</div>


{% endblock page_content %}
{% block page_js %}
<!-- Plugins JS start-->

<!--script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></!--script-->
<script src="{% static 'assets/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>

<script type="text/javascript">
  

  var mytable = $("#ajax-datatable").DataTable();
  mytable.destroy();
  
  $(window).on('load', function(){
      $.extend(true, $.fn.dataTable.defaults, {
        "language": {
          "processing": "<span class='fa-stack fa-lg'>\n\
                          <i class='fa fa-spiner fa-spin fa-stack-2x fa-fw'></i>\n\
          </span>&emsp;Processing..."
        }
      })
      var inv_location = $('#inventory-location').val()
      
      mytable = $("#ajax-datatable").DataTable({
        ajax: `inventory/${inv_location}?format=datatables`,
        dom: '<"container-fluid"<"row"<"col d-flex justify-content-between"fl>>>rtipB',
        serverSide: true,
        processing: true,
        filtering: true,
        retrieve: true,
        deferRender: true,
        destroy: true,
        select: true,
        columns: [       
          { data: "id",  width: "5%", 
            render: function(id, type, row) {
              return '<img src="' + row.image + '" height=50 width=50/>'              
              
            }
          },
          { data: 'sku', name: "sku", width: "10%",
              render: function(sku, type, row){
                return '<a href="' + row.id + '">' + sku + '</a>'
              }
          },
          { data: 'name' },          
          { data: 'unit', width: "8%", searchable: false },
          { data: 'retail_price', width: "5%", searchable: false, className: 'dt-body-right' },
          { data: 'purchased_price', width: "5%", searchable: false, className: 'dt-body-right' },
          { data: 'category', width: "10%", searchable: false},
          { data: 'stock_level', width: "5%", searchable: false },
          { data: 'id', width: "12%",
              render: function(id, type, row){
                return "<button class='btn btn-secondary btn-sm' type='button' data-bs-toggle='modal' data-bs-target='#exampleModal'" +
                 " data-productid='" + id + "' data-sku='" + row.sku  + "' data-productname='" + row.name + 
                 "' data-quantity='" + row.stock_level + "'>Update Qty</button>"
              }
          }
        ],
        buttons: [
          'copyHtml5', 
          'excelHtml5', 
          'pdf',
          {
            text: 'delete selected',
            action: function(){
              console.log(mytable.rows( {selected: true}))
            }
          }
        ]
      });
  
     // Changes to the inputs will trigger a redraw to update the table
      mytable.draw();  
      
      $('#inventory-location').on('change', function(){
        $('#ajax-datatable').DataTable()
          .ajax.url(`inventory/${this.value}?format=datatables`)
          .load();
      });

  });

function updateQty(prodId){
  alert(prodId)
}

$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var productid = button.data('productid') // Extract info from data-* attributes
  var sku = button.data('sku')
  var name = button.data('productname')
  var qty = button.data('quantity')
  
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('SKU: ' + sku)
  modal.find('.modal-body input#product').val(name)
  modal.find('.modal-body input#quantity').val(qty)
})

//Update stock level button event listener
$('#submit').on('click', function(event){
  alert('submitted')
  event.preventDefault()

})
</script>

<!-- Plugins JS Ends-->
{% endblock %}