{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% block page_css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">

<style>
  div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
}
body.dark-only .page-wrapper .page-body-wrapper .page-body .card:not(.email-body) 
.dataTables_wrapper .dataTables_filter input[type="search"] {
  width: 100%
}

select#inventory-location {
  margin-left: 10px;
  width: 165px;
  border-color: #e1dede;
}
</style>
<!-- Plugins css Ends-->
{% endblock %}
{% block page_content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                  Inventory Location
                  <select name="location" id="inventory-location">
                    {% for location in locations %}
                      <option value={{location.id}} {% if location.name == 'Default' %} selected {% endif %} >{{ location.name }}</option>                    
                    {% endfor %}                    
                  </select>
                </div>
                <div>
                  <a href="{% url 'inventory:new-product' %}" class="btn btn-primary">New Product</a>
                  <button class="btn btn-primary">Import from csv</button>
                </div>
            </div>
            
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="display" id="ajax-datatable">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>SKU</th>
                    <th>Product</th>                    
                    <th>Unit</th>
                    <th>Retail Price</th>
                    <th>Purchased Price</th>
                    <th>Category</th>
                    <th>Stock Level</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                
     
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- DOM / jQuery  Ends-->
  
    </div>
  </div>
  
  <!-- Container-fluid Ends-->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Stock Level update</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="update-inventory-form">
        <div class="modal-body">
            <input type="hidden" id="product_id" name="product_id">  
            <div class="form-group">
              <label for="sku" class="col-form-label">Product:</label>
              <input type="text" class="form-control" id="product"  name="product" readonly="readonly">
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="location" class="col-form-label">Inventory Location:</label>
                  <input type="hidden" class="form-control" id="location_id" name="location_id">
                  <input type="text" class="form-control" id="location" name="location" readonly="readonly">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="binrack" class="col-form-label">Bin Rack:</label>
                  <input type="text" class="form-control" id="binrack" name="binrack">
                </div>           
              </div>
            </div> 
            <div class="form-group">
              <label for="quantity" class="col-form-label">Quantity:</label>
              <input type="number" class="form-control" id="quantity" name="quantity">
            </div>            
            
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="submit">Update</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </form>
      </div>
    </div>
  </div>

</div>

{% endblock page_content %}

{% block page_js %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<!-- Plugins JS start-->

<!--script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></!--script-->
<script src="{% static 'assets/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>


<script type="text/javascript">
  //DATATABLE SCRIPT  
  var invlocation_id = $('#inventory-location').val()
  var invlocation_text = $('#inventory-location option:selected').text()

  var mytable = $("#ajax-datatable").DataTable();
  mytable.destroy();
  
  $(window).on('load', function(){
      $.extend(true, $.fn.dataTable.defaults, {
        "language": {
          "processing": "<span class='fa-stack fa-lg'>\n\
                          <i class='fa fa-spiner fa-spin fa-stack-1x fa-fw'></i>\n\
          </span>&emsp;Processing..."
        }
      })
      
      
      mytable = $("#ajax-datatable").DataTable({        
        dom: '<"container-fluid"<"row"<"col d-flex justify-content-between"fl>>>rtipB',
        serverSide: true,
        responsive: true,
        processing: true,
        filtering: true,
        retrieve: true,
        deferRender: true,
        destroy: true,
        select: true,
        stateSave: true,
        ajax: `inventory/${invlocation_id}?format=datatables`,
        columns: [
          { data: "product_id", name: "product.id" },       
          { data: "image", searchable: false, width: "5%", 
            render: function(id, type, row) {
              return '<img src="' + row.image + '" height=50 width=50/>'              
            }
          },
          { data: 'sku', name: "product.sku", width: "10%",
              render: function(sku, type, row){
                console.log(row)
                return '<a href="/products/product-detail/' + row.product_id + '/">' + sku + '</a>'
              }
          },
          { data: 'name', name: 'product.name' },          
          { data: 'unit', width: "8%", searchable: false },
          { data: 'retail_price', width: "5%", searchable: false, className: 'dt-body-right' },
          { data: 'purchased_price', width: "5%", searchable: false, className: 'dt-body-right' },
          { data: 'category', width: "10%", searchable: false},
          { data: 'stock_level', width: "5%", searchable: false },
          { data: 'id', name: "id", searchable: false, width: "12%",
              render: function(inv_id, type, row){
                return "<button class='btn btn-secondary btn-sm' type='button' data-bs-toggle='modal' data-bs-target='#exampleModal'" +
                 " data-productid='" + row.id + "' data-sku='" + row.sku  + "' data-productname='" + row.name + 
                 "' data-quantity='" + row.stock_level + "'>Update Qty</button>"
              }
          }
        ],
        columnDefs: [
          {
            target: 0,  //hide the product ID column
            visible: false,
            searchable: false
          }
        ],
        language: {
          "sProcessing": "<img src='{% static 'assets/images/loading.gif' %}'>"
        },
        buttons: [
          'copyHtml5', 
          'excelHtml5', 
          'pdf',
          {
            text: 'delete selected',
            action: function(){
              console.log(mytable.rows( {selected: true}))
            }
          }
        ]
      });
  
     // Changes to the inputs will trigger a redraw to update the table
      mytable.draw();  
      
      $('#inventory-location').on('change', function(){
        if (this.value != undefined) {
          $('#ajax-datatable').DataTable()
            .ajax.url(`inventory/${this.value}?format=datatables`)
            .load();          
        }
      });
  });

</script>

<script>
//BOOTSTRAP modal
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var productid = button.data('productid') // Extract info from data-* attributes
  var sku = button.data('sku')
  var name = button.data('productname')
  var qty = button.data('quantity')
  
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('SKU: ' + sku)
  modal.find('.modal-body input#product_id').val(productid)
  modal.find('.modal-body input#product').val(name)
  modal.find('.modal-body input#quantity').val(qty)
  modal.find('.modal-body input#location_id').val(invlocation_id)
  modal.find('.modal-body input#location').val(invlocation_text)

  setTimeout(function(){
    $('#quantity').focus()
  }, 1000)
})

//Update stock level button event listener
$('#update-inventory-form').submit(function(event){

  event.preventDefault()
  id = 0
  form_data = $("form").serializeArray();
  
  form_data.forEach((item, index)=>{
    if (item.name == 'product_id'){
      id = item.value
    }
    if (item.name == 'quantity'){
      qty = item.value
    }
    if (item.name == 'binrack'){
      binrack = item.value
    }
  })
  
  current_location = $('#inventory-location').val()
  sendData = {
    "product_id": id,
    "stock_level": qty,
    "location_id": current_location,
    "bin_rack": binrack
  }

  //Update Inventory Ajax
  $.ajax({
    type: "PATCH",
    url: '/api/products/update-inventory/' + id + '/',
    dataType: "json",
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': Cookies.get("csrftoken")
    },
    data: JSON.stringify(sendData),
    beforeSend: function(data){
      $('#submit').prop('disabled', true);
    },
    success: function(data){
      console.log("success update")
      console.log(data)
      $('#ajax-datatable').DataTable()
          .ajax.url(`inventory/${current_location}?format=datatables`)
          .load();
      
      $('#exampleModal').modal('hide');
    },
    error: function(rs, e){
      $('#error').html(rs.responseText)
      $('#error').css('display','block')
      console.error(rs)
    },
    complete: function(){
      $('#submit').prop('disabled', false)
    }
  });
  
})
</script>

<!-- Plugins JS Ends-->
{% endblock %}