{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% block page_css %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/jsgrid.scss' %}">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
  
  <style>
    .jsgrid .jsgrid-grid-body .jsgrid-cell {
      text-align: left !important;
    }

    .jsgrid .jsgrid-header-row > .jsgrid-header-cell {      
      text-align: left;
  }
  </style>
{% endblock page_css %}

{% block page_content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex flex-row justify-content-between">
              <h5>Suppliers</h5>
              <div>
                <button class="btn btn-primary" type="button" data-bs-toggle='modal' 
                  data-bs-target='#supplierModal' data-btn-source='add-btn'>Add New</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="jsGrid">
              <div class="jsgrid-filter-row">
                <input type="text" class="jsgrid-filter" />
                <input type="button" class="jsgrid-button jsgrid-search-button" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="supplierModal" tabindex="-1" role="dialog" aria-labelledby="supplierModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="supplierModalLabel">Supplier update</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="update-supplier-form">
        <div class="modal-body">            
            <div class="row">
              <div class="form-group">
                <input id="supplier_id" name="supplier_id" type="hidden" >  
                <label for="supplier_name" class="col-form-label">Supplier (Business/Trade Name):</label>
                <input type="text" class="form-control" id="supplier_name"  name="supplier_name">
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label for="contact_name" class="col-form-label">Contact Name</label>
                <input type="text" class="form-control" id="contact_name" name="contact_name">
              </div>   
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="contact_email" class="col-form-label">Contact Email:</label>              
                  <input type="email" class="form-control" id="contact_email" name="contact_email">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="contact_phone" class="col-form-label">Contact Phone</label>
                  <input type="text" class="form-control" id="contact_phone" name="contact_phone">
                </div>           
              </div>
            </div> 
      
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="supplier-submit">Update</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block page_js %}

<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/jsgrid/jsgrid.min.js' %}"></script>
<script src="{% static 'assets/js/notify/my-notify.js' %}"></script>

<script type="text/javascript">
var suppliers = JSON.parse('{{ suppliers_list|safe }}');
//console.log(suppliers)
window.CSRF_TOKEN = "{{ csrf_token }}"

  $(function() {
    // Sample data
    
    // JSGrid initialization
    $("#jsGrid").jsGrid({
      width: "100%",
      height: "auto",
      autoload: true,
      editing: false,
      inserting: false,
      filtering: true,
      sorting: true,
      paging: true,
      pageSize: 10,
      confirmDeleting: true,
      deleteConfirm: "Are you sure you want to delete this supplier?",
      loadMessage: "Please, wait...",
      loadShading: true,
      data: suppliers,
      fields: [
        { name: "id", title: "Supplier ID", type: "number", width: 0, editing: false , visible: false},
        { name: "name", title: "Name",  type: "text", width: 100, editing: false },
        { name: "contact_name", title: "Contact Person",  type: "text", width: 100 },
        { name: "contact_email", title: "Contact Email",  type: "text", width: 100 },
        { name: "contact_phone", title: "Contact Phone",  type: "text", width: 100 },
        { type: "control",
          itemTemplate: function(value, item){
            var $editButton = $("<button>").addClass("jsgrid-button jsgrid-edit-button")
                                           .attr('type', 'button')
                                           .attr('data-bs-toggle', 'modal')
                                           .attr('data-bs-target', '#supplierModal')
                                           .attr('data-supplier_id', item.id)
                                           .attr('data-supplier_name', item.name)
                                           .attr('data-contact_name', item.contact_name)
                                           .attr('data-contact_email', item.contact_email)
                                           .attr('data-contact_phone', item.contact_phone)
                                           .attr('data-btn-source', 'edit-btn')
                                           .on("click", function(){ 
                                              console.log("show modal form for ")                                               
                                              console.log(item)                                               
                                            })
            var $deleteButton = $("<button>").addClass("jsgrid-button jsgrid-delete-button")
                                            .on("click", function(){
                                              console.log("Delete button clicked!", item);
                                              var result = confirm("Are you sure you want to delete this supplier?")
                                              if (result){
                                                deleteSupplier(item);
                                              }                                              
                                            })

            var $controls = $("<div>").append($editButton).append($deleteButton)
            return $controls
        }}
      ],
      controller: {
        loadData: function(filter) {
          var filteredData = suppliers;

          if (filter.name){
            filteredData = filteredData.filter(function(item){
              return item.name.toLowerCase().indexOf(filter.name.toLowerCase()) > -1;
            })
          }
          
          if (filter.contact_name){
            filteredData = filteredData.filter(function(item){
              return item.contact_name.toLowerCase().indexOf(filter.contact_name.toLowerCase()) > -1;
            })
          }

          if (filter.contact_email){
            filteredData = filteredData.filter(function(item){
              return item.contact_email.toLowerCase().indexOf(filter.contact_email.toLowerCase()) > -1;
            })
          }

          if (filter.contact_phone){
            filteredData = filteredData.filter(function(item){
              return item.contact_phone.toLowerCase().indexOf(filter.contact_phone.toLowerCase()) > -1;
            })
          }    
          return filteredData;
        }
      }      
    });

  function deleteSupplier(item){
      
      var itemId = item.id;
      //delete supplier on the server
      $.ajax({
        url: "/products/supplier_delete/",
        type: "POST",
        data: {
          supplier_id: itemId,
          csrfmiddlewaretoken: window.CSRF_TOKEN
        }, 
        success: function(response){
          suppliers = suppliers.filter(function(supplier){
            return supplier.id !== itemId;
          })
          
          $("#jsGrid").jsGrid("refresh"); 
          //console.log("supplier deleted successfully");
          showNotification("Supplier was deleted successfully")
          location.reload()
        },
        error: function(error){
          //console.error("Error deleting supplier", error);
          showErrorNotification(error.responseText, "Error")
        }
      })
  
    }

  });  

</script>

<script type="text/javascript">
// MODAL functions definitions 

$("#supplierModal").on("show.bs.modal", function(event){
  var button = $(event.relatedTarget)
  var source = button.data("btn-source")
  var sup_id = button.data("supplier_id")
  var sup_name = button.data('supplier_name')
  var contact_name = button.data('contact_name')
  var contact_email = button.data('contact_email')
  var contact_phone = button.data('loc_region')
  
  var modal = $(this)
  modal.find('.form-group input#supplier_id').val(sup_id)
  modal.find('.form-group input#supplier_name').val(sup_name)
  modal.find('.form-group input#contact_name').val(contact_name)
  modal.find('.form-group input#contact_email').val(contact_email)
  modal.find('.form-group input#contact_phone').val(contact_phone)
  console.log(source)
  var nameEl = $("#supplier_name")
  if (source == "add-btn") {
    modal.find('.modal-title').text('Add new supplier')
    $('#supplier-submit').text('Add')
    
  } else {
    modal.find('.modal-title').text('Update supplier info')
    $('#supplier-submit').text('Update')
  }
  setTimeout(function(){
    $('#supplier_name').focus()
  }, 1000)
})

$('#update-supplier-form').submit(function(event){
  event.preventDefault()
  var btnSource = $('#supplier-submit').text()

  if (btnSource == 'Add'){
    addnew_supplier()
  } else {
    update_supplier()
  }
})

function addnew_supplier(){
  //performs AJAX request to update the record in the database
  
  var sup_name = $('#supplier_name').val()
  //console.log(sup_name)
  if (sup_name === '' || sup_name === undefined ){
    showErrorNotification("Supplier name can't be blank.")
    $('#supplier_name').focus()
    return;
  }

  $.ajax({
    url : "/products/supplier_add/",
    type: "POST",
    data: {
      supplier_name: sup_name,
      contact_name: $('#contact_name').val(),
      contact_email: $('#contact_email').val(),
      contact_phone:  $('#contact_phone').val(),      
      csrfmiddlewaretoken: window.CSRF_TOKEN
    },
    success: function(response){
      //console.log("supplier updated successfully");
      showNotification("New supplier successfully added")
      $("#jsGrid").jsGrid("refresh"); 
      setTimeout(function(){
        location.reload()
      }, 2000)
      
    },
    error: function(error){
      //console.error("Error updating supplier", error);
      showErrorNotification(error.responseText, "Error")
      $('#supplier_name').focus()
    }
  });
}

function update_supplier(){
  //performs AJAX request to update the record in the database
  var sup_id = $('#supplier_id').val()
  var sup_name = $('#supplier_name').val()

  if (sup_name === '' || sup_name === undefined ){
    showErrorNotification("Supplier name can't be blank.")
    return;
  }

  $.ajax({
    url : "/products/supplier_update/",
    type: "POST",
    data: {
      supplier_id: sup_id,
      supplier_name: sup_name,
      contact_name: $('#contact_name').val(),
      contact_email: $('#contact_email').val(),
      contact_phone:  $('#contact_phone').val(),      
      csrfmiddlewaretoken: window.CSRF_TOKEN
    },
    success: function(response){
      //console.log("supplier updated successfully");
      showNotification("Supplier updated successfully")
      $("#jsGrid").jsGrid("refresh"); 
      setTimeout(function(){
        location.reload()
      }, 2000)
    },
    error: function(error){
      //console.error("Error updating supplier", error);
      showErrorNotification(error.responseText, "Error")
    }
  });
}
</script>

{% endblock page_js %}









       