{% extends 'base.html' %}{% load static %}
{% load sass_tags %}
{% block page_content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0 b-l-primary border-3">
            <h5>Order</h5>
          </div>
          <div class="card-body">
            
            <h1>Thank you for your order</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock page_content %}
{% block page_js %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script>
  localStorage.removeItem('cart')
  document.cookie = "cart=''; Max-age=-9999999"
</script>
  <!-- Plugins JS Ends-->
{% endblock page_js %}
